<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
        <!-- 2 -->
<!--        <meta name="viewport" content="width=device-width, initial-scale=1">-->
    </head>
    <body>
        <!-- 7 -->
<!--        <div class="grid-body">-->
        <div class="flex-body application">
            <div class="scoreboard flex-body">
                <div>
                    Score
                </div>
            </div>

            <div class="header flex-body">
                Amazing game
            </div>

            <!-- 5 -->
<!--            <div class="player-data flex-body">-->
<!--                <div class="player-data__container">-->
<!--                        <img src="groot.jpeg" class="player-avatar">-->
<!--                        <div class="player-name">-->
<!--                            Igor-->
<!--                        </div>-->
<!--                </div>-->
<!--            </div>-->


            <main class="flex-body">

                <button class="back-to-menu hidden">
                    Back
                </button>

                <section class="menu menu_flex">
                    <button class="menu__button">
                        Play
                    </button>
                    <button class="menu__button">
                        Settings
                    </button>
                    <button class="menu__button menu__button__rules">
                        Rules
                    </button>
                    <button class="menu__button">
                        Exit
                    </button>
                </section>


                <section class="flex-body rules hidden">
                    <div>
                        <p>
                                Король – самая главная фигура в шахматах, цель игры в шахматы это поставить мат королю, после этого игра прекращается. Кто поставит мат тот и выигрывает партию. Король единственная фигура, которая не может взять фигуру, если она защищена, он также не имеет право ходить под шах, к тому же не может приблизиться к вражескому ферзю и королю (ближе, чем на одну клетку).
                        </p>
                        <br>
                        <p>
                                Ладья - ходит и бьет фигуры противника на лю­бое доступное поле по вертикалям или горизонталям, на которых находится.
                        </p>
                        <br>
                        <p>
                                Конь всем известно, что конь ходит буквой «Г». Он прыгает по горизонтали или вертикали через клетку и тут же переходит на соседнее боковое поле другого цвета.

                                Конь - единственная шахматная фигура, способная перепрыгивать через другие фи­гуры.
                        </p>
                    </div>
                </section>



            </main>

            <section class="advert flex-body">
                    <p>
                        Vk
                    </p>
                    <p>

                    </p>
                    <p>
                        ,   Github
                    </p>
            </section>

        </div>

        <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

    </body>
</html>
