body {
	font-family: Helvetica;
	font-size: 20px;
	color: #005ff9;
	background-color: #191a1b;
	margin: 0;
}

.flex-body {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.application {
	flex-direction: column !important;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
}

.menu_flex {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.grid-body {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-areas:
	". game-name player-data" 
	"main main main"
	"footer footer footer";
}

.scoreboard {
	display: none;
}

.rules > div {
    column-width: 400px;
    column-gap: 20px;
    padding: 10px;
    margin: 0 0 0 0;
}

.rules > div > p {
    margin: 0 0 0 0;
}

.menu__button {
	outline: none;
	font-family: Helvetica;
	border: 5px solid #005ff9;
	border-radius: 5px;
	background-color: #ff9d02;
	width: 150px;
	font-size: 30px;
	margin: 10px 20px;
	flex: 0 0 150px;
	color: white;
	height: 100px;
	transition: transform 0.5s;
}

.menu__button:hover {
	transform: scale(1.05);
}

.rules {
	display: block;
	margin-top: 10px;
	overflow: scroll;
}

.hidden {
	display: none !important;
}

main {
	grid-area: main;
}

.advert {
	grid-area: footer;
	align-items: flex-end;
}

.header {
	text-align: center;
	font-size: 52px;
	grid-area: game-name;
	text-shadow: 0 2px 4px rgb(1, 91, 255), 0 6px 20px rgb(0, 0, 0);
}

.player-data {
	grid-area: player-data;
}

.player-data__container {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
	grid-area: player-data;
	padding: 10px;
	box-shadow: 0 4px 8px 2px rgb(1, 91, 255), 0 6px 20px 0 rgb(0, 0, 0);
}

.player-name {
	margin: 5px;
	font-size: 40px;
	color: orange;
}

.player-avatar {
	margin: 5px;
	border-radius: 8px;
	width: 80px;
}

/* 1 */

@media (orientation: portrait) {
	.grid-body {
		grid-template-rows: 0.5fr 166px 5fr 1fr;
		grid-template-areas:
		". . score"
		". game-name player-data"
		"main main main"
		"footer footer footer";
	}

	.menu_flex {
		width: 400px;
	}

	.menu__button {
		height: calc(60px + 2vh);
		flex: 1 0 180px;

	}
}

@media (orientation: landscape) {
	.flex-body > main {
		height: 40vh !important;
	}

	.menu_flex {
		height: inherit !important;
		width: 95vw;
	}

	.player-data__container {
		flex-direction: row !important;
	}
}

/* 2 */

@media (max-width: 480px) and (orientation: portrait) {
	.rules {
		margin-top: 10px;
		height: 350px;
		overflow: scroll;
	}

	.scoreboard {
		display: flex;
		grid-area: score;
	}

	.menu__button {
		height: calc(60px + 2vh);
	}

	.menu_flex {
		width: 350px;
	}

	.header {
		font-size: calc(15px + 7.8vw);
	}

	.player-name {
		font-size: 20px;
	}

	.player-avatar {
		margin: 5px;
		border-radius: 8px;
		width: 50px;
	}
}

/* 4 */

@media (max-height: 420px) and (orientation: landscape) {
	.menu__button {
		flex: 1 0 5vw;
		font-size: 20px;
		height: 20vh !important;
	}

	.header {
		font-size: 40px;
	}

	.player-name {
		font-size: 20px;
	}

	.player-avatar {
		margin: 5px;
		border-radius: 8px;
		width: 50px;
	}

	.rules {
		height: 170px;
		overflow: scroll;
	}
	.grid-body {
		grid-template-rows: repeat(2, 1fr) 0.3fr;
	}
}